{% extends 'base.html' %}

{% block head_title %}
    TES
{% endblock %}
{% block content %}

    <div class="row text-center">
        <div class="col">
            <h1>Hello Tweetme</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mx-auto col-10">
            <form method="post" id="tweet-create-form" action="/create-tweet">
                {% csrf_token %}
                <input type="hidden" value="/" name="next">
                <textarea required="required" class="form-control" name="content" placeholder="Your Tweet"></textarea>
                <button type="submit" class="btn btn-primary">Tweet</button>
            </form>
        </div>
    </div>

    <div class="row" id="tweets">
        loading ..
    </div>



    <script>

        const tweetCreateEl = document.getElementById("tweet-create-form");

        function handleTweetFormSubmit(event) {
            event.preventDefault();
            const myForm = event.target;
            const myFormData = new FormData(myForm);
            const url = myForm.getAttribute("action");
            const method = myForm.getAttribute("method");
            const xhr = new XMLHttpRequest();
            const respType = "json";
            xhr.responseType = respType;
            xhr.open(method, url);
            xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
            xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
            xhr.onload = function () {
                if (xhr.status === 201) {
                    const newTweetJson = xhr.response;
                    const newTweetEl = formatTweetElement(newTweetJson);
                    const ogHtml = tweetContainerEl.innerHTML;
                    tweetContainerEl.innerHTML = newTweetEl + ogHtml;
                    myForm.reset()
                }else if (xhr.status === 400){
                    const errJson = xhr.response
                    console.log(errJson)
                }else if (xhr.status === 500){
                    alert("server error")
                }
            }
            xhr.onerror = function(){
                alert("error ")
            }
            xhr.send(myFormData);
        }


        tweetCreateEl.addEventListener("submit", handleTweetFormSubmit);

        const tweetContainerEl = document.getElementById("tweets");

        function loadTweets(tweetsElement) {
            const xhr = new XMLHttpRequest();
            const method = 'GET';
            const url = "/tweets";
            const respType = "json";
            xhr.responseType = respType;
            xhr.open(method, url);
            xhr.onload = function () {
                const serverResponse = xhr.response;
                var listedItem = serverResponse.response;
                var finalTweetsStr = "";
                var i;
                for (i = 0; i < listedItem.length; i++) {
                    var tweetObj = listedItem[i];
                    var currentItem = formatTweetElement(tweetObj);
                    finalTweetsStr += currentItem;
                }
                tweetsElement.innerHTML = finalTweetsStr;
            }
            xhr.send();
        }

        loadTweets(tweetContainerEl);

        function formatTweetElement(tweet) {
            return "<div class='col-12 col-md-10 mx-auto mb-4 border rounded  py-3' id='tweet-" + tweet.id + "'>" +
                "<p>" + tweet.content + "</p>" +
                "<div class='btn btn-group'>" + likeBtn(tweet) + "</div>" +
                "</div>";
        }

        function likeBtn(tweet) {
            return "<button class='btn btn-primary btn-sm' onclick='handleDidLike(" + tweet.id + "," + tweet.likes + ")'>" +
                "" + tweet.likes + "  Like</button>";
        }

        function handleDidLike(tweet_id, currentCount) {
            console.log(tweet_id, currentCount);
            currentCount++;

        }

    </script>
{% endblock %}